* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #9b9b9b;
}

.mainContainer {
  display: flex;
  width: 70%;
  height: 700px;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  background-color: #f6edea;
}

.screenImg {
  fill: grey;
}

.screenImg:hover {
  fill: black;
}

.screenText {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

.posterContainer,
.cinemaContainer {
  position: relative;
  margin-top: 16px;
}

.poster,
.seat,
.seat:focus,
.hiddenCheckbox:checked + .seat,
.rowVip .hiddenCheckbox:checked + .seat,
.mainContainer,
.badgeSeat.lux,
.badgeSeat.vip,
.book {
  box-shadow: 2px 3px 4px #020204;
}

.poster {
  width: 250px;
  height: 360px;
  position: relative;
}

.badgeSeat.lux,
.badgeSeat.vip {
  width: 30px;
  height: 40px;
}

.badgeSeat.lux {
  background-color: #e0730e;
}

.badge {
  display: flex;
  padding: 10px;
}

.badgeSeat,
.ticketType {
  position: relative;
  padding-left: 10px;
}

.book {
  width: 200px;
  height: 50px;
  border-radius: 3%;
}

.submitButton {
  padding-left: 20px;
  padding-top: 20px;
  text-align: center;
}

.filmInfo {
  position: relative;
  width: 100%;
  height: 200px;
  margin-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 25px;
  margin-bottom: -30px;
}

.cinemaContainer {
  width: 100%;
}

.seats {
  width: 450px;
  height: 280px;
  position: relative;
  justify-content: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.seat {
  width: 45px;
  height: 40px;
  border-top-right-radius: 30%;
  border-top-left-radius: 30%;
  background-color: #e0730e;
  margin-right: 5px;
}

.rowVip .seat,
.badgeSeat.vip {
  background-color: #bf4f0f;
}

.empty {
  visibility: hidden;
}

hr {
  margin-bottom: 10px;
}

.seat:focus {
  border-top-right-radius: 30%;
  border-top-left-radius: 30%;
}

.hiddenCheckbox:hover {
  cursor: pointer;
}

.hiddenCheckbox.disabled {
  pointer-events: none;
}

.hiddenCheckbox {
  opacity: 0;
  position: absolute;
  border: none;
  height: 35px;
  width: 35px;
  margin-top: 3px;
  margin-left: 4px;
}

.hiddenCheckbox:checked + .seat,
.seat.booked,
.rowVip .hiddenCheckbox:checked + .seat,
.seat.booked,
.book {
  background-color: #b09a86;
}

.hiddenCheckbox.disabled.notActive + .seat {
  background-color: #ef4222;
  cursor: not-allowed;
}

.rowText,
.name,
.price,
.currency,
.book {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.book {
  font-size: 16px;
}

.hiddenCheckbox.booked:hover {
  cursor: not-allowed;
}

.book:hover,
.book:focus,
.book:active {
  background-color: #eba963;
}
